<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="purchase">
      <ion-icon icon="reader-outline"></ion-icon>
      <ion-label>Purchase</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sale">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Sale</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reports">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accounts">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>