<ion-content [fullscreen]="true" class="action-sheets-home-page">
  <div class="header">
    <ion-row size="12">
      <ion-col size="2">
        <img style="width: 50px; height: 50px; margin-left: 5%;" src="https://www.inbowlabs.com/images/cafestro.png" alt="Logo">
      </ion-col>
      <ion-col size="10">
        <ion-button fill="clear" class="ion-text-capitalize company-name" (click)="OpenModal()">Kalyani Medical Store<ion-icon name="chevron-down"></ion-icon></ion-button>
      </ion-col>
      <!-- <ion-col size="6" class="ion-float-right">icon</ion-col> -->
    </ion-row>
  </div>

  <div class="charts">
    
  </div>
  
</ion-content>
